<div class="modal-body" id="modal-body">
    <button type="button" class="close" ng-click="ctrl.cancel()" aria-hidden="true">×</button>
    <div ng-show="ctrl.questions.length > 0" class="main-block">
        <div ng-hide="ctrl.finished">
            <div class="question">
                <h2>{{ctrl.currentPage}}. {{ctrl.question.name}}</h2>
                <div class="options">
                    <div ng-repeat="option in ctrl.options" class="btn-group">
                        <span class="btn" 
                            ng-click="ctrl.selectAnswer($index)" 
                            ng-class="{'selected-answer': (ctrl.question.userAnswer - 1) == $index}">
                            <img class="image" src="images/{{ctrl.question.answer}}/question_{{ctrl.question.answer}}_option_{{option}}.jpg">
                        </span>
                    </div>
                </div>
            </div>
            <ul uib-pagination
                direction-links="false"
                total-items="ctrl.questions.length"
                items-per-page="1"
                ng-model="ctrl.currentPage"
                ng-change="ctrl.pageChanged()"></ul>
            <p ng-if="ctrl.errMessage != null" class="text-center text-danger">{{ctrl.errMessage}}</p>
            <button class="btn btn-primary center" ng-click="ctrl.submit()" ng-show="ctrl.answeredQuestions == ctrl.questions.length">Submit</button>
            <h4>You will be able to submit when all 10 questions have been answered.</h4>
        </div>
    </div>
    <div ng-show="ctrl.finished">
        <h4 class="text-center">
            Thank you for signing up!<br />You should receive a confirmation email within the next several minutes.
        </h4>
        <button class="btn btn-primary center" ng-click="ctrl.finish()">Finish</button>
    </div>
</div>
