<div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()" aria-hidden="true">×</button>
    <h3 class="modal-title" id="modal-title">Contest Sign up</h3>
</div>
<form name="registerForm" ng-submit="ctrl.register(registerForm)" class="m-t" role="form" novalidate>
    <div class="modal-body" id="modal-body">
        <div class="row" ng-if="!ctrl.validated">
            <div class="col-md-12">
                <p ng-if="ctrl.errMessage != null" class="text-center text-danger">{{ctrl.errMessage}}</p>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" ng-model="ctrl.fname" placeholder="First Name" required novalidate>
                    <span class="required-field" ng-show="(registerForm.firstname.$touched || registerForm.$submitted) && registerForm.firstname.$error.required">First name is required.</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" ng-model="ctrl.lname" placeholder="Last Name" required novalidate>
                    <span class="required-field" ng-show="(registerForm.lastname.$touched || registerForm.$submitted) && registerForm.lastname.$error.required">Last name is required.</span>
                </div>
                <div class="form-group">
                    <ui-select ng-model="ctrl.orgType.selected"
                            theme="bootstrap"
                            search-enabled="false"
                            reset-search-input="false"
                            on-select="ctrl.onTypeChange($item)">
                        <ui-select-match allow-clear="true" placeholder="Organization Type">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="oType in ctrl.orgTypes | propsFilter: {name: $select.search}">
                          <span ng-bind-html="oType.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <ui-select ng-model="ctrl.organization.selected"
                                theme="bootstrap"
                                ng-disabled="!ctrl.orgType.selected">
                        <ui-select-match placeholder="Organization">
                            {{$select.selected}}
                        </ui-select-match>
                        <ui-select-choices repeat="orgName in ctrl.getOrganizationList($select.search) | filter: $select.search">
                            <span>{{orgName}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" ng-model="ctrl.email" placeholder="Email" required novalidate>
                    <span class="required-field" ng-show="(registerForm.email.$touched || registerForm.$submitted) && registerForm.email.$error.required">Email is required.</span>
                    <span class="required-field" ng-show="(registerForm.email.$touched || registerForm.$submitted) && registerForm.email.$error.email">Email format is invalid.</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="referralCode" ng-model="ctrl.referralCode" placeholder="Referral Code" novalidate>
                </div>
            </div>
        </div>

        <p class="text-center" ng-if="ctrl.validated">
            First, let's go through a quick quiz to test your fashion knowledge!
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-right" type="submit" ng-if="!ctrl.validated">Next</button>
        <a class="btn btn-primary pull-right" ng-click="ctrl.goNext()" ng-if="ctrl.validated">Next</a>
        <a class="btn btn-primary pull-right mr5" ng-click="ctrl.goPrevious()" ng-if="ctrl.validated">Previous</a>
        <a class="btn btn-default pull-left" ng-click="ctrl.cancel()">Cancel</a>
    </div>
</form>
