
html, body {
  background: #ffffff;
  height: 100%;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  border-top: 1px solid #ddd;
}

.main {
  margin-top: 50px;
}

.po-info {
  background: #eee;
}

.content-block {
  padding: 20px 30px;
}

.content-title {
  margin-bottom: 30px;
}

.po-value {
  padding-top: 7px;
  font-weight: bold;
}

.item-section {
  width: 100%;
}

.item-section .item {
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.item .item-category {
  display: table-cell;
  width: 30%;
  text-align: left;
}

.item .item-category select {
  width: 80%;
}

.item .item-name {
  display: table-cell;
  text-align: center;
}

.item .item-name input,
.item .item-name button {
  width: 80%;
  margin: auto;
}

.item .item-qty {
  display: table-cell;
  width: 30%;
  text-align: right;
}

.item .item-qty input {
  width: 60%;
  display: inline;
}

.item .item-purchase-price {
  display: table-cell;
  width: 50%;
  text-align: left;
}

.item .item-purchase-price input {
  width: 60%;
}

.item .item-po-change {
  display: table-cell;
  width: 50%;
}

.item .item-po-change input {
  width: 60%;
}

.mb20 {
  margin-bottom: 20px;
}

.mr10 {
  margin-right: 10px;
}
